.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  box-sizing: border-box;
  min-height: calc(100svh - 16px); // body margin 8px top and bottom
}
